<ion-view>
	<ion-content style="background:#F0F0F0;">
		<div style="padding:5% 2%">

			<div class="list list-inset" style="margin-top:0">
				<div class="item item-avatar">
				<img src="">
				<h2>{{profile.name}}</h2>
				<p>{{auth.email}}</p>
				</div>
			</div>
			<div style="margin:0 10px">
			<button class="button button-block button-dark">Cambiar mi foto</button>
			<div class="separator"></div>
			</div>
			<div class="list list-inset" style="margin-top:0">
			<label class="item item-input">
				<input type="text" placeholder="Nombre">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Contraseña actual">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Nueva contraseña">
			</label>
			</div>
			<div style="margin:0 10px">
			<button class="button button-block button-assertive">Guardar cambios</button>
			</div>


		</div>
	</ion-content>
</ion-view>
