<ion-header-bar class="bar-light">
  <button class="button button-icon icon ion-navicon"></button>
  <img class="title-image" src="img/logo.png">
	<button class="button button-icon icon ion-android-search"></button>
</ion-header-bar>
<div>
<ion-tabs class="tabs-striped tabs-top tabs-stable tabs-color-assertive">
    <!-- Feed Tab -->
    <ion-tab title="MÁS RECIENTE" href="#/tab/reciente">
        <ion-nav-view name="tab-reciente"></ion-nav-view>
    </ion-tab>

    <!-- Cocina Tab -->
    <ion-tab title="MÁS LEIDO" href="#/tab/leido">
        <ion-nav-view name="tab-leido"></ion-nav-view>
    </ion-tab>

    <!-- Salud Tab -->
    <ion-tab title="ESTUDIOS" href="#/tab/estudios">
        <ion-nav-view name="tab-estudios"></ion-nav-view>
    </ion-tab>
</ion-tabs>
</div>

